<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Kalkulator z wyliczeniami dla fotowoltaiki">

    <title>Kalkulator fotowoltaiki</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3.0.2"></script>

  </head>
  <body class="container">
    <h1 class="text-center h3 m-3">Kalkulator fotowoltaiczny - wyliczenia dla instalacji fotowoltaicznej</h1>
    <div class="col-sm-10 offset-sm-1 text-center alert alert-danger">
      <strong>Uwaga!</strong> Kalkulator zawiera orientacyjne dane demonstracyjne. Wyliczenia nie powinny być wykorzystywane do wycen.
    </div>
    <div id="pv-calculator" class="row">
      <div class="card-group col-sm-12 col-lg-4">
        <div id="pv-bill" class="col-sm-12">
          <div class="card bg-primary shadow mb-3">
            <div class="card-body text-white">
              <h2 class="card-title h5 pb-1">Jakie są Twoje rachunki za energię eletryczną?</h2>
              <p class="border-bottom">Kwota miesięczna z rachunku za prąd</p>
              <div class="input-group input-group-sm">
                <input type="number" id="monthly-bill" v-model.number="pvBill.monthlyBill" required  class="form-control form-control-sm">
                <div class="input-group-append">
                  <span class="input-group-text">
                    zł brutto
                  </span>
                </div>
                <input type="range" min="50" max="1500" step="10" id="monthly-bill-range" v-model.number="pvBill.monthlyBill" class="form-control-range my-3">
              </div>
              <div class="form-group">
                <label for="operators">Operator</label>
                <select id="operators" v-model="pvBill.energyPrice" class="form-control form-control-sm">
                  <option v-for="operator in pvBill.operators" :value="operator.energyPrice">
                    {{ operator.name }}
                  </option>
                </select>
              </div>
              <p id="energy-price" class="border-bottom">Koszt 1 kWh energii <span class="badge badge-light float-right"> {{ pvBill.energyPrice }} zł</span></p>
              <p id="energy-consumption-monthly" class="border-bottom">Zużycie miesięczne <span class="badge badge-light float-right"> {{ energyConsumption(1) }} kWh</span></p>
              <p id="energy-consumption-yearly" class="border-bottom">Zużycie roczne <span class="badge badge-light float-right"> {{ energyConsumption(12) }} kWh</span></p>
              <p id="yearly-bill" class="border-bottom">Rachunek rocznie <span class="badge badge-light float-right"> {{ yearlyBill }} zł</span></p>
            </div>
          </div>
        </div>
        <div id="pv-parameters" class="col-sm-12">
          <div class="card bg-danger shadow mb-3">
            <div class="card-body text-white">
              <h3 class="card-title h5 pb-1">Parametry instalacji</h3>
              <div class="form-group">
                <label for="installation-place">Instalacja na</label>
                <select id="installation-place" v-model="pvParameters.installationTax" class="form-control form-control-sm">
                  <option v-for="installation in pvParameters.installationPlace" :value="installation.tax">
                    {{ installation.place }}
                  </option>
                </select>
              </div>
              <div class="form-group">
                <label for="installation-mounted">Konstrukcja montowana na</label>
                <select id="installation-mounted" v-model="pvParameters.mountedCost" class="form-control form-control-sm">
                  <option v-for="mounted in pvParameters.installatioMounted" :value="mounted.cost">
                    {{ mounted.on }}
                  </option>
                </select>
              </div>
              <div class="form-group">
                <label for="installation-orientation">Orientacja instalacji</label>
                <select id="installation-orientation" v-model="pvParameters.orientationSunProfit" class="form-control form-control-sm">
                  <option v-for="orientation in pvParameters.installationOrientation" :value="orientation.sunProfit">
                    {{ orientation.direction }}
                  </option>
                </select>
              </div>
              <div class="form-group">
                <label for="installation-tilt">Nachylenie instalacji</label>
                <select id="installation-tilt" v-model="pvParameters.installationPerformance" class="form-control form-control-sm">
                  <option v-for="tilt in pvParameters.installationTilt" :value="tilt.performance">
                    {{ tilt.percent }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-group col-sm-12 col-lg-8">
        <div id="pv-installation" class="col-sm-12 col-lg-6">
          <div class="card bg-info shadow mb-3">
            <div class="card-body text-white">
              <h2 class="card-title h5 pb-1">Twoje zapotrzebowanie na energię elektryczną</h2>
              <p class="border-bottom">Wielkość instalacji <span class="badge badge-light float-right"> {{ installationPower }} kWp</span></p>
              <p class="border-bottom">Moc inwertera <span class="badge badge-light float-right"> {{ inverterPower }} kW</span></p>
              <div class="form-group">
                <label for="pv-modules">Moc paneli</label>
                <select id="pv-modules" v-model="pvInstallation.pvModule" class="form-control form-control-sm">
                  <option v-for="pvModule in pvInstallation.pvModules" :value="pvModule">
                    {{ pvModule.power }}W
                  </option>
                </select>
              </div>
              <p class="border-bottom">Ilość paneli <span class="badge badge-light float-right"> {{ numberOfModules }} </span></p>
              <p class="border-bottom">Powierzchnia instalacji <span class="badge badge-light float-right"> {{ installationArea }} m2</span></p>
              <p class="border-bottom">Produkcja roczna <span class="badge badge-light float-right"> {{ yearProduction }} kWh</span></p>
              <p class="border-bottom">Koszt instalacji <span class="badge badge-light float-right"> {{ installationCost }} zł</span></p>
              <div v-for="(grant, index) in pvInstallation.subsidies" :key="index" class="custom-control custom-checkbox">
                <input type="checkbox" :id="index" v-model="grant.active" class="custom-control-input">
                <label :for="index" class="custom-control-label"> {{ grant.name }} </label>
                <span v-show="grant.active" class="badge badge-light float-right"> -{{ grant.discount }} zł</span>
              </div>
              <p v-show="installationCost != installationCostAfterGrant" class="border-bottom mt-2">Koszt po ulgach: <span class="badge badge-light float-right"> {{ installationCostAfterGrant }} zł</span></p>
            </div>
          </div>
        </div>
        <div id="pv-saving" class="col-sm-12 col-lg-6">
          <div class="card bg-success shadow mb-3">
            <div class="card-body text-white">
              <h2 class="card-title h5 pb-1">Oszczędność z instalacją fotowoltaiczną</h2>
              <p class="border-bottom">Rachunek za rok z fotowoltaiką <span class="badge badge-light float-right"> {{ yearlyPvBill }} zł</span></p>
              <p class="border-bottom">Roczny wzrost cen prądu na poziomie</p>
              <div class="input-group input-group-sm">
                <input type="number" id="yearly-increase-energy-price" v-model.number="pvSaving.yearlyIncreaseEnergyPrice" class="form-control form-control-sm">
                <div class="input-group-append">
                  <span class="input-group-text">
                    %
                  </span>
                </div>
                <input type="range" min="1" max="15" step="1" id="yearly-increase-energy-price-range" v-model.number="pvSaving.yearlyIncreaseEnergyPrice" class="form-control-range my-3">
              </div>
              <p class="border-bottom">Oszczędność roczna <span class="badge badge-light float-right"> {{ pvBillSavings(1) }} zł</span></p>
              <p class="border-bottom">Oszczędności przez 5 lat <span class="badge badge-light float-right">{{ pvBillSavings(5) }}zł</span></p>
              <p class="border-bottom">Oszczędności przez 8 lat <span class="badge badge-light float-right">{{ pvBillSavings(8) }}zł</span></p>
              <p class="border-bottom">Oszczędności przez 12 lat <span class="badge badge-light float-right">{{ pvBillSavings(12) }}zł</span></p>
              <p class="border-bottom">Oszczędności przez 15 lat <span class="badge badge-light float-right">{{ pvBillSavings(15) }}zł</span></p>
              <p class="border-bottom">Zwrot inwestycji <span class="badge badge-light float-right">ok. {{ returnOnInvestment }} lat</span></p>
            </div>
          </div>
        </div>
        <div id="pv-production" class="col-sm-12">
          <div class="card bg-light shadow mb-3">
            <div class="card-body text-white">
              <h2 class="card-title h5 pb-1 text-dark">Produkcja energii elektrycznej</h2>
              <svg style="position: absolute; top:-170" width="650px" height="500px" viewBox="0 0 500 100">
                <path id="motionPath" fill="none" stroke-miterlimit="10" d="M100,100Q250,10,400,100" />
                <g id="sun" transform="translate(-100, -300)">
                  <circle cx="100" cy="300" r="25" fill="yellow" />
                </g>
                <animateMotion xlink:href="#sun" dur="3s" begin="0s" fill="freeze" repeatCount="indefinite">
                  <mpath xlink:href="#motionPath" />
                </animateMotion>
              </svg>
              <ul class="d-flex align-items-end bar-chart">
                <li class="progress-bar progress-bar-striped bg-warning mx-1" style="height: 40%"><span class="px-1">Styczeń</span></li>
                <li class="progress-bar progress-bar-striped bg-warning mx-1" style="height: 45%"><span class="px-1">Luty</span></li>
                <li class="progress-bar progress-bar-striped bg-warning mx-1" style="height: 50%"><span class="px-1">Marzec</span></li>
                <li class="progress-bar progress-bar-striped bg-warning mx-1" style="height: 55%"><span class="px-1">Kwiecień</span></li>
                <li class="progress-bar progress-bar-striped bg-warning mx-1" style="height: 65%"><span class="px-1">Maj</span></li>
                <li class="progress-bar progress-bar-striped bg-warning mx-1" style="height: 70%"><span class="px-1">Czerwiec</span></li>
                <li class="progress-bar progress-bar-striped bg-warning mx-1" style="height: 72%"><span class="px-1">Lipiec</span></li>
                <li class="progress-bar progress-bar-striped bg-warning mx-1" style="height: 65%"><span class="px-1">Sierpień</span></li>
                <li class="progress-bar progress-bar-striped bg-warning mx-1" style="height: 55%"><span class="px-1">Wrzesień</span></li>
                <li class="progress-bar progress-bar-striped bg-warning mx-1" style="height: 50%"><span class="px-1">Październik</span></li>
                <li class="progress-bar progress-bar-striped bg-warning mx-1" style="height: 45%"><span class="px-1">Listopad</span></li>
                <li class="progress-bar progress-bar-striped bg-warning mx-1" style="height: 40%"><span class="px-1">Grudzień</span></l>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <style>
      @keyframes grow-column {
        0% {
          transform: translateY(100%);
        }
        100% {
          transform: translateY(0);
        }
      }
      .bar-chart {
        margin: 0;
        padding: 0;
        height: 275px;
        overflow: hidden;
      }
      .bar-chart li {
        animation: grow-column 4s;
      }
      .bar-chart li span {
        transform: rotate(-90deg);
      }
    </style>
    <script async defer src="pv-calculator.js"></script>
  </body>
</html>